<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa2 db mr4 h-100 w4 flex-none">
		<img src="/img/militaryhacks_logo.png" alt="MilitaryHacks logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex grey-3 f6">
		<li><a href="https://www.militaryhacks.com/about" class="pa3 no-underline db">About</a></li>
		<li><a href="https://shop.militaryhacks.com" class="pa3 no-underline db">Guides</a></li>
		<li><a href="https://www.militaryhacks.com/newsletter" class="pa3 no-underline db">Newsletter</a></li>
		<li><a href="https://www.militaryhacks.com/contact" class="pa3 no-underline db">Contact</a></li>
		
	</ul>

</nav>
